.teams-section {
  background-color: #000;
}

.teams-section__group-logos {
  width: 1000px;
}

.teams-section__logo {
  height: 150px;
  display: inline-block;
  transition: transform .3s ease-in-out, .3s ease-in-out;
}

.teams-section__logo:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.uaeteam {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url(/bg/Team_UAE.jpg) no-repeat;
  background-size: cover;
  background-position: center 50%;
}

.teamvisma {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url(/bg/Team_Visma.jpg) no-repeat;
  background-size: cover;
  background-position: center 50%;
}

.teamsky {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url(/bg/Team_Sky.jpg) no-repeat;
  background-size: cover;
  background-position: center 10%;
}

.astana {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url(/bg/Astana_TdF2014.jpg) no-repeat;
  background-size: cover;
  background-position: center 50%;
}
